sudo: required
language: bash
services:
  - docker

script:
  # at least run a syntax check for the Travis script
  - bash -n libyui-travis
  # build the Docker image
  - docker build -t libyui-test-image -f Dockerfile.$DOCKER_TAG .

env:
  # define the build matrix to build all images in parallel
  - DOCKER_TAG=latest
  - DOCKER_TAG=sle12-sp3

